.card-img{
  width: 350px;
  height: auto;
}
body {
  color: #fff;
  background-color: rgb(36,36,36);
}
.desc-header{
  display:flex;
  width:100%;
  align-items: center;
}
#copy-desc {
  padding: .75em 1.5em;
  margin-left: 3rem;
  background-color: aquamarine;
  border-radius: .2em;
  color: #000;
  cursor: pointer;
}

#copy-filename {
  padding: .75em 1.5em;
  background-color: aquamarine;
  border-radius: .2em;
  color: #000;
  cursor: pointer;
}
